*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    outline: none;
}

html,
body{
    height: 100%;
}

body{
    position: relative;
    overflow-x: hidden;
    display: flex;
    background: linear-gradient(to right,rgb(231, 136, 165),rgb(67, 176, 219));
}

span{
    position: absolute;
    z-index: 0;
    bottom:0;
    background: radial-gradient(circle at 72% 28%,white 3px,#FFF0F5 8%,#EE82EE,lightblue 100%);
    box-shadow: inset 0 0 6px #fff,
    inset 3px 0 6px #eaf5fc,
    inset 2px -2px 10px #efcde6,
    inset 0 0 60px #f9f9de 
    /*设置发光效果*/
    0 0 20px #fff;
    border-radius: 50%;
    animation: myMove 5s linear infinite;
}
@keyframes myMove{
    0%{
        transform: translateY(0);
        opacity: 1;
    }

    50%{
        transform: translate(10%,-1000%);
    }

    75%{
        transform:translate(-20%,-1200%) ;
    }
    
    99%{
        opacity: 0;
    }

    100%{
        transform: translateY(-1800%) scale(1.5);
        opacity: 0;
    }
}

.box{
    width: 1050px;
    height: 600px;
    display: flex;
    position: relative;
    /* background-color: #fff; */
    margin: auto;
    z-index: 2;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204, .6);
    box-shadow: 5px 4px 3px rgba(0,0,0, .1);
}

.pre-box{
    width: calc(1050px / 2);
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 8px;
    background:#edd4dc;
    box-sizing: 4px 4px 3px rgba(0,0,0, .1);
    transition: 0.5s ease-in-out;
}

.pre-box h1{
    margin-top: 150px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    text-shadow: 4px 4px 3px rgba(0,0,0, .1);
}

/* 滑动盒子的文字 */
.pre-box p{
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px 0;
    /* 禁止选中 */
    user-select: none;
    font-weight: bold;
    color:white;
    text-shadow: 4px 4px 3px rgba(0,0,0, .1);
}

.img-box{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    /* 设置用户禁止选中 */
    user-select: none;
    overflow: hidden;
    box-sizing: 4px 4px 3px rgba(0,0,0, .1);
}

.img-box img{
    width: 100%;
    transition: 0.5s;
}

/* 登录和注册盒子 */
.login-form,
.register-form{
    flex: 1;
    height: 100%;
}

.title-box{
    height: 300px;
    line-height: 500px;  
}

.title-box h1{
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-shadow: 4px 4px 3px rgba(0,0,0, .1);
}

.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    text-indent: 4px;
    border: 1px solid #b0cfe9;
    border-radius:120px;
     /* 增加磨砂质感 */
     backdrop-filter: blur(10px); 
}

input:focus{
    color: #b0cfe9;
}

input:focus::placeholder{
    opacity: 0;
}

.btn-box{
    display: flex;
    justify-content: center;
}

button{
    width: 100PX;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #00BEEE;
    color: white;
    margin: 0 7px;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover{
    cursor: pointer;
    opacity: .6;
}

.btn-box p{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: white;
}

.btn-box p:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}